/* GRID LAYOUT */
#data-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  padding: 50px 20px;
  align-content: start;
}

/* CARD */
.data-card {
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;

  background: #15151c;
  border: 2px solid var(--Quaternary-color);
}

/* TITULO OVERLAY */
.cortina {
  height: 0;
  width: 100%;

  background-color: rgba(145, 143, 143, 0.26);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--Quaternary-color);

  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  transition: height 0.4s ease;
}

.data-card:hover .cortina {
  height: 100%;
}

/* TEXTO */
.data-card h2 {
  font-size: 16px;
  text-align: center;
  text-shadow: 2px 2px 0px #000;
  padding: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* IMAGEN */
.data-image {
  width: 100%;
  aspect-ratio: 3 / 4;
}

.data-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PAGINATION */
.pagination {
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 25px;
  margin: 50px 0;
}

.pages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  max-width: 900px;
}

.page-btn,
.nav-btn {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #3a3a55;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.25s;
}

.nav-btn {
  font-size: 30px;
}

.page-btn:hover,
.nav-btn:hover {
  transform: translateY(-3px);
  background: #2a2a2a;
}

.page-btn.active {
  background: white;
  color: black;
  transform: scale(1.15);
}

.nav-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* RESPONSIVE SOLO AQUÍ */
@media (max-width: 768px) {
  #data-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  .pages-container {
    display: none;
  }
}
