.header {
  width: 100%;
  background-color: var(--Quaternary-color);
  padding: 20px;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

/* TOP BAR */
.top-bar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.header-left {
  display: flex;
  align-items: center;
}

.rick-morty-logo {
  width: 55px;
  border-radius: 100%;
}

/* TITLE */
.Title {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-title {
  font-size: 26px;
  font-weight: bold;
  color: var(--color-text);
  display: block;
}

/* MENU */
.header-right {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* NAV */
.nav-links {
  display: none;

  flex-direction: column;

  gap: 30px;

  width: 100%;
}

.nav-links.show {
  display: flex;
}

/* GROUP */
.nav-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.nav-title {
  font-size: 22px;
  font-weight: bold;
  color: var(--color-text);
}

/* LINKS */
.group-links {
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
}

.link {
  color: var(--primary-color);
  font-size: 16px;
}

.link.active {
  border-bottom: 2px solid black;
}

/* DESKTOP */
@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
  }

  .nav-group {
    align-items: center;
  }
}
