/* FONT + RESET */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Bungee', sans-serif;
}

/* VARIABLES */
:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --terciary-color: #b7b7eb;
  --Quaternary-color: #60759f;
  --color-text: black;
}

/* BODY */
body {
  background-color: var(--primary-color);
}

/* ROOT ONLY LAYOUT */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
